<!-- Creating a form to add to favorite -->
<form action="/favorite" method="post" class="mt-2">
  <input type="hidden" name="id" value="<%= element._id %>">
  <button type="submit"
    class="w-full py-3 rounded-lg bg-indigo-500 text-white font-semibold hover:bg-indigo-600 shadow-sm transition">
    Add to Favorite
  </button>
</form>